<%= form_for @product do |f| %>
    <h2>New Product</h2>
    <div>
      <label>Name</label>
      <input class="medium" type="text"/>
    </div>
    <div>
      <label>Description</label>
      <input class="large" type="text"/>
    </div>
    <div>
      <label>Category</label>
      <input class="medium" type="text"/>
    </div>
    <div>
      <label>Quantity</label>
      <input class="medium" type="text"/>
    </div>
    <div>
      <label>Price</label>
      <input type="text"/>
    </div>
    <div>
      <label>Shelf No.</label>
      <input type="text"/>



    </div>
    <div>
      <label>Lot No.</label>
      <input type="text"/>



    </div>
    <div>
      <label>Auction House</label>
      <input type="text"/>
    </div>

<% end %>